body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #283fa7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f0850a;
}

#employeeList {
    margin-top: 20px;
}

.employee {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: #e9ecef;
}

.employee div {
    flex: 1;
    margin: 0 5px;
}

.employee button {
    background-color: #dc3545;
}

.employee button:hover {
    background-color: #c82333;
}

.search-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.search-container input[type="text"] {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
}

.search-container input[type="text"]::placeholder {
    color: #999;
}

.search-container input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}